GEMINI_API_KEY=
PUBLIC_UMAMI_SRC=https://analytics.amex.my.id/script.js
PUBLIC_UMAMI_WEBSITE_ID=96876759-e7a8-4bfc-b878-346cb3802b43
PUBLIC_UMAMI_SHARE_URL=https://analytics.amex.my.id/q/1NhS0k9Xk
PUBLIC_PGP_SIGNER=gakiyukr
PUBLIC_PGP_FINGERPRINT=
PGP_SIGNING_ENABLED=false
PGP_REQUIRE_SIGNATURES=false
PGP_PRIVATE_KEY_BASE64=
PGP_PRIVATE_KEY_PASSPHRASE=
